{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {{ page.body|richtext }}

  <body>

    <div class="row">
     <div class="col-md-10 col-md-offset-1 blocks home-page-posts">
       {% for post in news_pages %}

     <div class="col-md-4">

         <h3>{{ post.title }}</h3>

     <div class="blog-intro">

     </div>
     <div class="row">
       {% endfor %}
      <div class="col-md-10 col-md-offset-1 blocks home-page-posts">
        {% for post in course_pages %}

      <div class="col-md-4">

          <h3>{{ post.title }}</h3>

      <div class="blog-intro">

      </div>
   </div>
       {% endfor %}
   </div>
 </div>




  </body>

{% endblock %}
