{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}



    {% for post in posts %}
      <div class="card-body">
          <h5 class="card-header"><a href="{{ post.url }}" class="btn btn-primary"> {{ post.title }}</a></h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">{{ post.intro|richtext }}</p>
              </li>
      <div class="card-footer text-muted">
        {{ post.first_published_at }} by
        <a href="#">{{ post.first_name }} {{ post.last_name }}</a>
      </div>
      </div>

    {% endfor %}


  {# Only show pagination if there is more than one page to click through #}
  {% if posts.paginator.num_pages > 1 %}

    <nav aria-label="Page navigation example">

      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
          <a href="?page={{ posts.previous_page_number }}" class="page-link">
            <span>&laquo;</span>
          </a>
        </li>
        {% endif %}

        {% for page_num in posts.paginator.page_range %}
        <li class="page-item {% if page_num == posts.number %} active{% endif %}">
          <a href="?page={{ page_num }}" class="page-link">
            {{ page_num }}
          </a>
        </li>
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item">
          <a href="?page={{ posts.next_page_number }}" class="page-link">
            <span>&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>

    </nav>
  {% endif %}
{% endblock content %}
