{% extends "material/base.html" %}
{% block content %}

<div class="valign-wrapper row app-box">
      <div class="col s12 center-align">
            <div class="container">
                  <div class="row">
                        <div class="col s12 center-align">
                              <h2> Disclaimer </h2>

                        </div>
                  </div>
                  <div class="row">
                        <div class="col s12 center-align">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ipsum in mi feugiat ullamcorper eget sit amet nisi. Morbi arcu neque, tristique ut purus in, interdum fringilla neque. Sed nec ligula sit amet lacus efficitur ultrices. Cras id elit sit amet orci consectetur egestas at eu est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis tellus justo, vitae rutrum risus blandit in. Mauris eu tempus purus, eu rhoncus turpis. Cras pretium erat nec dui lobortis tristique. Sed ac varius elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla ipsum sapien, hendrerit in felis a, tincidunt tempor justo.

                              Fusce at odio quis metus pellentesque mollis eu ut purus. Curabitur interdum est vitae quam viverra, vel suscipit nisi laoreet. Sed finibus finibus ipsum vel porttitor. Morbi a odio sit amet enim pellentesque ornare. Phasellus fringilla mauris ac pretium tristique. Aenean velit ex, congue non ipsum quis, tempor rutrum arcu. Vivamus accumsan turpis nec sollicitudin maximus. Duis non lorem sem. Aliquam tincidunt lectus id aliquam venenatis. Mauris rhoncus, quam viverra finibus placerat, mi ante vestibulum risus, vitae congue purus magna vitae dolor. Donec ullamcorper eros vel dui laoreet, eu rutrum dui gravida.
                        </div>

                  </div>
            </div>
      </div>
</div>






{% endblock %}
