
{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags event_tags %}
{% block body_class %}template-newspage{% endblock %}

{% block content %}





<style>
        .calendar-text { margin-top: .3em; }
</style>
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img class="card-img-bottom" src="..." alt="Card image cap">
</div> -->
        <div class="card border-primary">
           <h5 class="card-header text-center">{{ page.title }}</h5>




          <img class="card-img-top" </img>
          <!-- <div class="card-img-overlay"> -->
            <!-- <h4 class="card-title">{{ page.title }} </h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p> -->

                  <!-- <span class="fa-stack fa-2x">
                          <i class="fas fa-calendar fa-stack-2x "></i>
                          <strong class="calendar-text fa-stack-1x fa-inverse ">{{ relateddates.first.date.day }}</strong>
                  </span>{{ relateddates.first.date|date:"F Y" }} <h1>{{ page.title }}</h1> -->
           <!-- </div> -->

          <div class="card-body">
            <h5 class="card-header">{{ page.intro }} </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="card-text">{{ page.summary|richtext }}</p>
                </li>



            </ul>








            <div class="card-footer text-center">
              <a href="{{ page.get_parent.url }}" class="btn btn-primary">Return</a>



            </div>






        </div>





{% endblock %}
