{% extends "base.html" %}
{% block content %}

<form action="/view_attendance/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<div>
    {% for event_obj in attendance %}
        <div class="col-md-12 row" >
            <div class="col-md-3">
                {{ event_obj.event_id.event_start}}
            </div>
            <div class="col-md-7">
                {{ event_obj.event_id.title}}
            </div>
            <div class="col-md-1">
                {% if event_obj.attended %}
                    <span style="background: lime">test</span>
                {% else %}
                    <span style="background: red">test</span>
                {% endif %}
            </div>
            <div class="col-md-1">
                {% if event_obj.feedback_complete %}
                    <span style="background: lime; height: 100%">test</span>
                {% else %}
                    <span style="background: red; height: 100%">test</span>
                {% endif %}
            </div>
            
        </div>
    {% endfor %}
    
</div>

{% endblock %}