{% extends "base.html" %}
{% block content %}

<form action="/view_attendance/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<div>
    {% load static %}
    {% for event_obj in attendance %}
    <hr>
        <div class="col-md-12 row" >
            
            <div class="col-md-2">
                {{ event_obj.event_id.event_start}}
            </div>
            <div class="col-md-7">
                {{ event_obj.event_id.title}}
            </div>
            <div class="col-md-1">
                {% if event_obj.attended %}
                    <img src="{% static '/images/checked.png' %}" style="width: 100%">
                {% else %}
                    <img src="{% static '/images/cancel.png' %}" style="width: 100%">
                {% endif %}
            </div>
            <div class="col-md-1">
                {% if event_obj.feedback_complete %}
                    <img src="{% static '/images/checked.png' %}" style="width: 100%">
                {% else %}
                    <img src="{% static '/images/cancel.png' %}" style="width: 100%">
                {% endif %}
            </div>
            <div class="col-md-1">
                {% if event_obj.feedback_complete and event_obj.attended %}
                <!-- add in a link to the generate form function -->
                    <img src="{% static '/images/winner.png' %}" style="width: 100%">
                {% endif %}
            </div>
            
            
        </div>
    {% endfor %}
    
</div>

{% endblock %}