{% load static wagtailuserbar %}


<!DOCTYPE html>
<html>
    <head>


    <script>
             (function(document, window) {
                 window.wagtailConfig = window.wagtailConfig || {};
                 wagtailConfig.ADMIN_API = {
                     PAGES: '/admin/api/v2beta/pages/',
                     DOCUMENTS: '/admin/api/v2beta/documents/',
                     IMAGES: '/admin/api/v2beta/images/',


                     EXTRA_CHILDREN_PARAMETERS: '',
                 };

                 wagtailConfig.STRINGS = {
                     EDIT: "Edit",
                     DELETE: "Delete",
                     PAGE: "Page",
                     PAGES: "Pages",
                     LOADING: "Loading…",
                     NO_RESULTS: "No results",
                     SERVER_ERROR: "Server Error",
                     SEE_CHILDREN: "See children",
                     SEE_ALL: "See all",
                     CLOSE_EXPLORER: "Close explorer",
                     ALT_TEXT: "Alt text",
                     WRITE_HERE: "Write here…",
                     HORIZONTAL_LINE: "Horizontal line",
                     LINE_BREAK: "Line break",
                     UNDO: "Undo",
                     REDO: "Redo",
                     RELOAD_PAGE: "Reload the page",
                     RELOAD_EDITOR: "Reload saved content",
                     SHOW_LATEST_CONTENT: "Show latest content",
                     SHOW_ERROR: "Show error",
                     EDITOR_CRASH: "The editor just crashed. Content has been reset to the last saved version.",
                     BROKEN_LINK: "Broken link",
                     MISSING_DOCUMENT: "Missing document"
                 };

                 wagtailConfig.ADMIN_URLS = {
                     PAGES: '/admin/pages/'
                 };
             })(document, window);
         </script>
         <script type="text/javascript" src="/static/wagtailadmin/js/vendor.js"></script>
         {{ form.media.js }}
         {{ form.media.css }}
      <meta charset="utf-8">
      <title>
          {% block title %}
              {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
          {% endblock %}
          {% block title_suffix %}
              {% with self.get_site.site_name as site_name %}
                  {% if site_name %}- {{ site_name }}{% endif %}
              {% endwith %}
          {% endblock %}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




      <!-- Bootstrap core CSS -->

      <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/modern-business.css' %}" rel="stylesheet">


      {% block extra_css %}
          {# Override this in templates to add extra stylesheets #}
      {% endblock %}
      {# Global stylesheets #}


    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}





        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/isa_website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top navbar-custom">
                <div class="container">
                <a class="navbar-brand" href='/'> Imperial School of Anaesthesia</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">

                  {% load menu_tags %}

                  {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/custom_main_menu.html"%}
                </div>

            </nav>
        </header>
        <main role="main">

              <!-- Main jumbotron for a primary marketing message or call to action -->

              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-3"> {{ page.title }} </h1>
                </div>
              </div>

              <div class="container">
              {% block content %}{% endblock %}
              {% block event %}{% endblock %}

              {% if posts.paginator.num_pages > 1 %}

                <nav aria-label="Page navigation example">

                  <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                    <li class="page-item">
                      <a href="?page={{ posts.previous_page_number }}" class="page-link">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    {% endif %}

                    {% for page_num in posts.paginator.page_range %}
                    <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                      <a href="?page={{ page_num }}" class="page-link">
                        {{ page_num }}
                      </a>
                    </li>
                    {% endfor %}

                    {% if posts.has_next %}
                    <li class="page-item">
                      <a href="?page={{ posts.next_page_number }}" class="page-link">
                        <span>&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>

                </nav>
              {% endif %}



              </div>
        </main>




            <footer class="page-footer center-on-small-only pt-0 mt-5 fixed-bottom">
                <div class="container text-center">
                    <span>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>


                    </span>
                </div>
            </footer>





    <!-- Bootstrap core JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    </body>
</html>
