{% load static wagtailuserbar %}


<!DOCTYPE html>
<html class="no-js">
    <head>

      <meta charset="utf-8">
      <title>
          {% block title %}
              {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
          {% endblock %}
          {% block title_suffix %}
              {% with self.get_site.site_name as site_name %}
                  {% if site_name %}- {{ site_name }}{% endif %}
              {% endwith %}
          {% endblock %}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




      <!-- Bootstrap core CSS -->
      {# Global stylesheets #}
      <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/modern-business.css' %}" rel="stylesheet">
      {% block extra_css %}
          {# Override this in templates to add extra stylesheets #}
      {% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        <h1> Welcome ISA website under development!</h1>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/isa_website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top navbar-custom">
          <div class="container">
            <a class="navbar-brand" href="index.html"> Imperial School of Anaesthesia</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              {% load menu_tags %}

              {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/custom_main_menu.html"%}

        </nav>


    </body>










    <!-- Navigation -->


    <!-- Page Content -->
    <div class="container">




    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  </body>

</html>
