{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-suggest{% endblock %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'wagtailadmin/css/panels/draftail.css' %}">
{% endblock %}




{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.summary | richtext }}

    <form action="." method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
